<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>Amount: $5.00</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-description="A month's subscription"
          data-amount="500"
          data-locale="auto"></script>
<% end %>

 <style type="text/css">
  body{
    background-color: lightcyan;
    background-image: url(/assets/19.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    }
    .dropdown-menu li:hover{
    visibility: visible;
    }
    .dropdown:hover .dropdown-menu{
      display: block;
    }
    .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
      background-color: #ffba98;
    }
</style>